body {
    background-color: #fbf6ed;
}

h1 {
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    color: #4A0404; 
    /* #262626  a good gray*/
    font-size: 64px;
    width: auto;
    margin: 0px 0px 25px 0px;
}

ul {
    text-decoration-style: solid
}

a {
    text-decoration: none;
    color: #4A0404;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    margin-right: 69px;
    position: relative;
}

.canvas {
    display: block;
    margin: 20px auto;
    max-width: 940px;
}

.navbar { 
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: dashed 6px #4A0404;
    margin-bottom: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 30px;
    grid-template-areas:
      "Left Right";
  }
  .Left { grid-area: Left; }
  .Right { grid-area: Right; }